nav{
    width: 100px;
    float: left;
}

header{
    text-align: center;
}

main{
    float: left;
}


aside{
    float: right;
}

body{
    background-color: rgb(209, 223, 255);
}

h1, h2, h3, h4, h5, h6{
    color: red;
}
